# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment (secrets)
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/migration_lock.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Husky
.husky/_

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
